@use 'sass:math';

@use '../abstracts/mixins';
@use '../abstracts/variables';

#hero {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  border-bottom: 0;
  background: variables.$white-color;
  font-weight: 400;
  color: variables.$dark-blue-text;
  padding: 0rem 5.6rem;
  margin-bottom: 0;

  @include mixins.phone {
    padding: 0rem variables.$default-font-size;
  }

  @mixin hero-text($base-size: 5.6rem) {
    font-size: $base-size;
    font-weight: 700;
    margin-bottom: 3.2rem;
    text-align: left;

    @include mixins.tablet-landscape {
      font-size: math.div($base-size, 5.6) * 4;
    }

    @include mixins.tablet-portrait {
      font-size: math.div($base-size, 5.6) * 3.6;
      text-align: center;
    }

    @include mixins.phone {
      font-size: math.div($base-size, 5.6) * 3.5;
      line-height: 1.5;
    }

    @include mixins.phone-small {
      font-size: math.div($base-size, 5.6) * 2.8;
    }
  }

  .hero-title {
    @include hero-text;
  }

  .hero-subtitle {
    @include hero-text(4rem);
  }

  .hero-cta {
    display: flex;
    justify-content: center;

    & a {
      font-size: 2.4rem;

      @include mixins.phone {
        font-size: 2rem;
      }
    }
  }
}
