@use "../abstracts/mixins";
@use "../abstracts/variables";

#projects {
  background-color: variables.$white-color;
  color: variables.$dark-blue-text;
  margin-top: -15rem;
  padding-top: 15rem;

  @include mixins.tablet-landscape {
    margin-top: 0;
    padding-top: 5rem;
  }

  .project-wrapper {
    margin-bottom: 15rem;

    @include mixins.tablet-portrait {
      margin-bottom: 0rem;
    }

    &__row {
      display: flex;
      flex-direction: row;
      margin-bottom: 8rem;
      gap: 7%;

      @include mixins.tablet-portrait {
        flex-direction: column;
        gap: 2rem;
      }
    }

    &__left {
      flex: 1 1 40%;
    }

    &__right {
      flex: 1 1 60%;
    }

    &__text {
      text-align: left;

      @include mixins.tablet-portrait {
        margin-bottom: 1rem;
      }

      &-title {
        font-weight: bold;
        margin-bottom: 1.8rem;
        font-size: variables.$mid-font-size;

        @include mixins.phone {
          font-size: 2rem;
        }
      }

      & p > a {
        color: variables.$secondary-color;
      }
    }

    &__image {
      display: inline-block;
      border: none;
      box-shadow:
        0 0.6rem 1rem rgba(0, 0, 0, 0.16),
        0 0 0.6rem rgba(0, 0, 0, 0.1);
    }
  }
}
