@use 'sass:math';

/*
Media queries

Using `rem` instead of `px` allows for a user's default font-size to affect layout.

`1rem == 16px` in media queries, even when setting `font-size` on the root element.
*/
@function to-rem($px) {
  $pixels-per-rem: math.div(16px, 1rem);
  @return math.div($px, $pixels-per-rem);
}

@mixin phone-small {
  @media (max-width: to-rem(320px)) {
    @content;
  }
}
@mixin phone {
  @media (max-width: to-rem(600px)) {
    @content;
  }
}
@mixin tablet-portrait {
  @media (max-width: to-rem(900px)) {
    @content;
  }
}
@mixin tablet-landscape {
  @media (max-width: to-rem(1200px)) {
    @content;
  }
}
@mixin desktop-big {
  @media (min-width: to-rem(1800px)) {
    @content;
  }
}

// Border White Mixin
@mixin section-borders {
  border: 1.5rem solid #fff;
  border-top: 0;
  border-bottom: 0;
}
