html {
  // Makes `1rem == 10px`
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

p {
  margin-bottom: 1rem;
}

h6,
h5,
h4,
h3,
h2,
h1 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

// Styles after JavaScript loaded
:root.js {
  // Avoid an initial flash of content before the animation loads.
  .react-swiftreveal {
    opacity: 0;
  }
}
// Styles before JavaScript loaded (or is disabled)
:root.no-js {
}
