@use "sass:math";
@use "../abstracts/mixins";

$main-color: rgb(39, 99, 153);

$font-size: 10pt;

@function to-em($px) {
  $pixels-per-em: math.div($font-size, 1em);
  @return math.div($px, $pixels-per-em);
}

#resume {
  font-family: "Poppins", sans-serif;
  font-size: math.div($font-size, 10px) * 100%;
  text-align: left;

  p,
  a {
    font-size: 1em;
    margin-bottom: 0;
  }

  h1 {
    font-weight: 700;
    color: $main-color;
    margin: 0;
    font-size: 2.4em;
  }
  h2,
  .resume-subtitle,
  .resume-company {
    font-weight: 700;
    font-variant-caps: small-caps;
  }
  h2 {
    margin: 0.5em auto 0;
  }
  .resume-subtitle {
    font-size: 1.5em;
    margin: 0;
  }
  h3 {
    font-weight: 700;
    color: $main-color;
    margin: 0.7em auto 0;
  }

  section {
    padding: 0;
  }

  ul {
    padding: 0;
  }
  li {
    list-style-type: none;
  }

  a,
  a:link,
  a:hover,
  a:visited,
  a:active {
    color: inherit;
    text-decoration: underline;
  }

  @mixin row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 1em;
    @include mixins.phone {
      flex-direction: column;
    }
  }

  .resume-title {
    @include row;
    & {
      align-items: start;
    }
  }

  .resume-job {
    @include row;

    .resume-date {
      font-style: italic;
      margin-right: 0.2em;
    }
  }

  .resume-icon {
    color: black;
    margin: 0 0.6em;
  }

  @mixin content-as-grid {
    .resume-content {
      display: grid;
      grid-template-columns: min-content 1fr;
      column-gap: 2em;
      grid-template-areas:
        ". title"
        "aside main";

      .resume-title {
        grid-area: title;
      }
      .resume-aside {
        grid-area: aside;
      }
      .resume-main {
        grid-area: main;
      }

      .resume-address {
        text-wrap: nowrap;
      }
    }
  }

  .resume-page {
    margin: 4rem 6rem;

    @include mixins.phone {
      margin: 1.5rem;
    }

    @include mixins.fits-a4 {
      width: to-em(210mm);
      min-height: to-em(297mm);
      padding: to-em(15mm);
      box-shadow: 0 0 3em 0 rgba(0, 0, 0, 0.25);
      margin: 1em auto;

      @include content-as-grid;
    }
  }

  .print-button {
    text-align: right;
    border-bottom: 2px solid rgba(0, 0, 0, 0.25);

    @include mixins.fits-a4 {
      border-bottom: none;
    }

    button {
      cursor: pointer;
      padding: 0.3em 0.6em;
      margin: 1em;
    }
  }

  @media print {
    .resume-page {
      margin: 0;
      font-size: 10pt;

      @include content-as-grid;
    }

    .print-button {
      display: none !important;
    }
  }
}

@page {
  size: A4 portrait;
  margin: 15mm;
}
